body {
	margin: 0;
}
*{
	box-sizing: border-box;
}
.main {
    width: 100%;
    background-image: url(images/b_coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.menu{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}
.footer_links , .section_3{
    width: 100%;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
}
.a_line {
    color : #526569;
    font-size : 30px;
    border-right: 2px solid #526569;
    text-decoration: none;
    padding-right: 10px
}
.home_section_1 {
    width: 100%;
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
    border-bottom: 1px dashed black;
}
.section_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px dashed black;
    padding: 20px;
}
.images_section_2{
    width: 92%;
    display: flex;
    justify-content: space-between;
}
.div_slide_section_2 {
    width:3%;
    align-content: center;
    text-align-last: center;
}
.picture_section_2 {
    width: 31%;
    border: 1px dashed black;
}
.section_3_info {
    width: 30%;
}
.p_section_3_line {
    font-size: 26px;
    text-decoration-line : underline;
    color: green;
}
.span_section_3,.about_p_font {
    font-size: 26px;
}
.div_section_3 {
    margin-bottom: 15px;

}
.b_section_3_line {
    font-size: 26px;
    color: green;
    border: 1px dashed black;
}
.news_p_section_3 {
        font-size: 26px;
        padding-left : 20px;
}
.about_section_3{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.portfolio_p_font {
    font-size: 18px;
    font-style: italic;
}
.portfolio_section, .services_section, .service_section, .contact_section {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}
.portfolio_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 83px 0;
}
.portfolio_span {
    margin-left: 47px;
    font-size : 20px;
    padding : 9px 15px;
    background-color : #d3cc24;
    border: 1px dashed black;
}
.label_input {
    width:100%;
    padding: 20px 0 20px 20px;
    border: 1px dashed black;
    background-image: url(images/b_input2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.label_input_message {
    width:100%;
    padding: 20px 0 20px 20px;
    border: 1px dashed black;
    background-color : #f2f0e9;
    height: 150px;
}
.div_contact_send{
    width :30%;
    float: right;
    margin: 50px 110px;

}